{% extends 'home.html' %}
{% block content %}

{% block title %}
<title>Grade 1 and 2</title>
{% endblock %}

{% block nav %}
<a href="{% url 'home' %}">home</a>
<a href="#activity">Activities</a>
<a href="#quiz">Quizzes</a>
<a href="#learning">Learning Modules</a>
{% endblock %}
{% block search %}
<form action="{% url 'search'%}"  method="get">
    <input class="search-input" type="text" name="q" placeholder="Search...">
    <button class="search-btn" type="submit">Search</button>
</form>
{% endblock %}


<section class="activities">

    <h1 class="heading"><span>Grade</span> 1 and 2</h1>
    <section id="learning">
        {% if learnings_exist %}
    <h1>Learning Modules</h1>
    <div class="box-container" >
            {% for learning in learnings %}
            {% if learning.grade_level == 1 or learning.grade_level == 2 %}
            <div class="box" >
                <h3><a style="text-decoration: none; color:black;" href="{% url 'download_learning' learning.id %}" target="_blank">{{ learning.name }}</a></h3>
                <div style="display: flex; gap: 5px; justify-content: center; align-items: center;"> 
                    <form method="post" action="{% url 'view_learning' learning.id %}">
                    {% csrf_token %}
                    <button class="btn" type="submit">View</button>
                    
                    </form>
                    <form method="post" action="{% url 'download_learning' learning.id %}">
                        {% csrf_token %}
                        <button class="btn" type="submit">Download</button>
                    </form>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        
    </div>
    {% endif %}

    </section>
    
    <section id="quiz">
        {% if quizzes_exist %}
    <h1>Quizzes</h1>
    <div class="box-container">
        {% for quiz in quizzes %}
        {% if quiz.grade_level == 1 or quiz.grade_level == 2 %}
                <div class="box" >
                    <h3><a style="text-decoration: none; color:black;" href="{% url 'download_quiz' quiz.id %}" target="_blank">{{ quiz.name }}</a></h3>
                    <div style="display: flex; gap: 5px; justify-content: center; align-items: center;"> 
                        <form method="post" action="{% url 'view_quiz' quiz.id %}">
                        {% csrf_token %}
                        <button class="btn" type="submit">View</button>
                        
                        </form>
                        <form method="post" action="{% url 'download_quiz' quiz.id %}">
                            {% csrf_token %}
                            <button class="btn" type="submit">Download</button>
                        </form>
                    </div>
                </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    </section>

    <section id="activity">
        {% if activities_exist %}
    <h1>Activities</h1>
    <div class="box-container">
        {% for activity in activities %}
        {% if activity.grade_level == 1 or activity.grade_level == 2 %}
                <div class="box" >
                    <h3><a style="text-decoration: none; color:black;" href="{% url 'download_activity' activity.id %}" target="_blank">{{ activity.name }}</a></h3>
                    <div style="display: flex; gap: 5px; justify-content: center; align-items: center;"> 
                        <form method="post" action="{% url 'view_activity' activity.id %}">
                        {% csrf_token %}
                        <button class="btn" type="submit">View</button>
                        
                        </form>
                        <form method="post" action="{% url 'download_activity' activity.id %}">
                            {% csrf_token %}
                            <button class="btn" type="submit">Download</button>
                        </form>
                    </div>
                </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    </section>

</section>

{% endblock %}


   